.logo {
    font-size:84px;
    font-weight:bolder;
    margin-bottom:30px;

    color:var(--primary);

    cursor:pointer;
}

.errmsg {
    width: 460px;
    overflow-wrap:break-word;
    text-align:center;
}
